@import './assets/variables.scss';
@import './assets/resets.scss';
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: $paragraph-line-height;
  font-weight: 400;
  font-size: $font-size;
  color: $text;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  // display: flex;
  // min-width: 320px;
  // min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  // color: $text;
}

#app {
  max-width: 700px;
  margin: 0 auto;
  // padding: 1rem;
  // text-align: center;
  // outline: 1px solid coral;
}

p {
  // color: $paragraph-color;
}

h1,
h2,
h3,
h4 {
  // color: $heading-color;
}

// ANIMATIONS
.loading {
  /* Center the loading text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}

/* CSS animation for loading */
.loading::after {
  content: '';
  display: block;
  width: 40px; /* Adjust size of the loader */
  height: 40px; /* Adjust size of the loader */
  border-radius: 10%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 5px solid #ccc; /* Adjust color and thickness */
  border-top-color: $primary; /* Adjust color */
  border-right-color: $primary; /* Adjust color */
  border-bottom-color: $secondary;
  border-left-color: $secondary;
  animation: spin 5s linear infinite; /* Animation properties */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  100% {
    transform: rotate(-360deg); /* Ending position */
  }
}

.border-animate {
  margin: 3rem 0;
  padding-bottom: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative; /* Required for pseudo-element */
}

/* Pseudo-element for the animated border */
.border-animate::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%; /* Start with full width */
  height: 1px; /* Border height */
  background-color: $text; /* Your border color */
  animation: animateBorder 2s linear infinite; /* Animation properties */
  transform: translateX(-50%); /* Center the pseudo-element */
}

/* Keyframes for the animation */
@keyframes animateBorder {
  0% {
    width: 0; /* Start with no border */
  }
  50% {
    width: 100%; /* Full border at half of the animation duration */
  }
  100% {
    width: 0; /* Back to no border */
  }
}

/* Example animation class */
.viewport-anim {
  /* Define your animation properties */
  /* For example: */
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.viewport-anim.active {
  opacity: 1;
  transform: translateX(0);
}
