@import './assets/variables.scss';
@import './assets/resets.scss';
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: $paragraph-line-height;
  font-weight: 400;
  font-size: $font-size;
  color: $text;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  // display: flex;
  // min-width: 320px;
  // min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  // color: $text;
}

#app {
  max-width: 700px;
  margin: 0 auto;
  // padding: 1rem;
  // text-align: center;
  // outline: 1px solid coral;
}

p {
  // color: $paragraph-color;
}

h1,
h2,
h3,
h4 {
  // color: $heading-color;
}

/* Example animation class */
.viewport-anim {
  /* Define your animation properties */
  /* For example: */
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.3s ease, transform 0.5s ease;

  &:target {
    transform: translateX(0);
    transition: none;
  }
}

.viewport-anim.active {
  opacity: 1;
  transform: translateX(0);
}

// ANIMATIONS

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 40px; /* Adjust size of the loader */
    height: 40px; /* Adjust size of the loader */
    border-radius: 50%;
    border: 7px solid #ccc; /* Adjust color and thickness */
    border-color: $secondary;
    // border-top-color: $primary;

    animation: spin 5s linear infinite; /* Animation properties */
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 60px; /* Adjust size of the loader */
    height: 60px;
    border-radius: 50%;
    border: 10px solid #ccc; /* Adjust color and thickness */
    border-color: $primary;
    // border-top-color: $secondary;
    animation: spinReverse 1s linear infinite;
    // animation-delay: -10.5s; /* Delay the animation for the second spinner */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Starting position */
    scale: 0.5;
  }
  50% {
    scale: 1;
  }
  100% {
    transform: rotate(-360deg); /* Ending position */
    scale: 0.5;
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(0deg); /* Starting position */
    scale: 0.5;
  }
  50% {
    scale: 0.8;
  }
  100% {
    transform: rotate(360deg); /* Ending position */
    scale: 0.5;
  }
}

.first-letter {
  font-size: 150%; /* Adjust the size of the first letter */
  /* Other styles for the first letter */
}
